fastapi==0.111.1
uvicorn[standard]==0.23.1
django>=4.2
psycopg2-binary  # If using PostgreSQL
pydantic
python-dotenv    # Optional, for env variables
pydantic==1.10.11
python-multipart
email-validator
